<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="de.wackernagel.android.example.sidekick"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TypefaceTextViewActivity" />
        <activity android:name=".TooltipActivity" />
        <activity android:name=".ColorFilterUtilsActivity" />
        <activity android:name=".ColorsActivity" />
        <activity android:name=".AspectRatioImageViewActivity" />
        <activity android:name=".RevealViewActivity" />
        <activity android:name=".IndicatorActivity" />
        <activity android:name=".DeviceActivity" />
        <activity android:name=".TintingActivity" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".SimpleProviderActivity" />

        <provider
            android:authorities="de.wackernagel.android.example.sidekick"
            android:name=".provider.SimpleProvider"
            android:exported="false"/>
    </application>

</manifest>
